altair
pandas
streamlit
langchain~=0.0.300
emoji~=2.8.0
attrs~=23.1.0
Pillow~=9.5.0
tornado~=6.3.3
jinja2~=3.1.2
packaging~=23.1
zipp~=3.17.0
from typing import Set

from backend.core import run_llm
import streamlit as st
from streamlit_chat import message
import os
from typing import Any, Dict, List
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.chat_models import ChatOpenAI
from langchain.chains import ConversationalRetrievalChain
from langchain.vectorstores import Pinecone
import pinecone
from typing import Set
from langchain.document_loaders import ReadTheDocsLoader
from langchain.document_loaders import ReadTheDocsLoader
from langchain.embeddings import OpenAIEmbeddings
from langchain.text_splitter import RecursiveCharacterTextSplitter
from langchain.document_loaders import BSHTMLLoader
from langchain.document_loaders import DirectoryLoader
from langchain.document_loaders import PyPDFDirectoryLoader
import pinecone
